name: Update Extension Data

on:
  schedule:
    - cron: '0 * * * *' # اجرا سر هر ساعت (دقیقه 0)
  workflow_dispatch: # اجازه می‌دهد دکمه دستی Run داشته باشیم

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests beautifulsoup4 feedparser

    - name: Run scraper script
      run: python script.py

    - name: Commit and push if changed
      run: |
        git config --global user.name 'GitHub Action Bot'
        git config --global user.email 'action@github.com'
        git add data.json
        git diff --quiet && git diff --staged --quiet || (git commit -m "Auto-update data via Bot" && git push)
